*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
article{
    height: 600px;
    width: 600px;
    border : 1px solid;
    position:relative;
    background-color:aquamarine;
    display : flex;
    justify-content: space-evenly;
    box-shadow: 10px 10px 10px black;
}
.cont1{
    font-size: 100px;
    top : 40px;
    left : 40px;
    animation-name : Star;
    animation-duration: 2s;
    position :absolute;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
.cont2{
    font-size: 100px;
    top : 40px;
    left : 170px;
    animation-name : Star;
    animation-duration: 3s;
    position :absolute;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
.cont3{
    font-size: 100px;
    top : 40px;
    left : 300px;
    animation-name : Star;
    animation-duration: 4s;
    position :absolute;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
.cont4{
    font-size: 100px;
    top : 40px;
    left : 430px;
    animation-name : Star;
    animation-duration: 5s;
    position :absolute;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes Star{
    0%{
        top: 40px;
    }
    50%{
       top:460px; 
    }
    100%{
        top:40px;
    }
}